%article.code
  %h1 Code
  %section.projects
    %h1 My favorite code
    .intro
      I love code. Here are some projects I've worked on.

    :markdown
      * I have [contributed code to Rails core](https://github.com/rails/rails/commits?author=iangreenleaf).
      * I wrote [a book on CoffeeScript application development](http://www.amazon.com/CoffeeScript-Application-Development-Ian-Young/dp/1782162666/ref=sr_1_8).
      * I created [githubot](https://github.com/iangreenleaf/githubot),
        a GitHub API library for Node.js, written in CoffeeScript.
      * I came up with [rrrex](https://github.com/iangreenleaf/rrrex),
        a new syntax for expressing regular expressions in Ruby.
        <aside>
          Pronounced "rrrex!".
        </aside>
      * I built and maintain [Scisr](http://iangreenleaf.github.com/Scisr/),
        a refactoring tool written in and for PHP.
      * I'm one of the lead developers on [GrinnellPlans](https://code.google.com/p/grinnellplans/)
        (and the [Rails rewrite](https://github.com/annaswims/GrinnellPlans)),
        a homegrown social platform for members of the Grinnell College community.
        <aside>
          And for the record, Plans existed long before Web 2.0.
        </aside>

  %section#proudify_github
    %h1 The latest
