#film
  %p.description
    I've dabbled in film over the years. Here are some films I made
    for Grinnell College's epic film festival, Titular Head.
    You can find all of my work on
    <a rel="me" href="http://vimeo.com/iangreenleaf">Vimeo</a>.

  #2008
    #drop
      %iframe{ :src => "http://player.vimeo.com/video/952487", :width => "400", :height => "300", :frameborder => "0" }
    #rickroll
      %iframe{ :src => "http://player.vimeo.com/video/953067", :width => "400", :height => "300", :frameborder => "0" }
  #2007
    #nazis
      .disclaimer
        Please note: I am not as bad a person as this video may make you think I am.
      %iframe{ :src => "http://player.vimeo.com/video/951870", :width => "400", :height => "300", :frameborder => "0" }
  #2006
    #recursion
      %iframe{ :src => "http://player.vimeo.com/video/956058", :width => "400", :height => "300", :frameborder => "0" }
  #2005
    #squirrels
      %iframe{ :src => "http://player.vimeo.com/video/1070675", :width => "400", :height => "300", :frameborder => "0" }
#photo
  %p.desc
    .description
      I also dabble, very occasionally, in photography. Some of my photos are on
      <a rel="me" href="http://www.flickr.com/photos/iangreenleaf/">Flickr</a>.
    = flickr "http://farm3.static.flickr.com/2209/2188462865_8ce3abd18a.jpg", "A fat squirrel"
    = flickr "http://farm2.static.flickr.com/1155/969665884_8406161ed2.jpg", "King's Canyon, South Australia"
    = flickr "http://farm3.static.flickr.com/2189/2244327143_674e55545a.jpg", "Winter in Grinnell, Iowa"
