@import "normalize";
@import "compass";

$red: #4a0001;
$dark_red: #2d0000;
$off_white: #fff0d3;
$off_white_step: #00040b;
$blue: #055;
$dark_blue: #022;

$header_font: 8;
$top_bar_height: $header_font * 16px;
$content_padding: 2em;

@mixin standout {
  background-color: $off_white;
  padding: 0 0.2em;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.3em;
}
@mixin deemphasized {
  font-style: italic;
  color: #666;
}

body {
  background-color: $off_white;
}

h1 {
  display: none;
}

nav ul, #content {
  max-width: 50em;
  margin: auto;
}

nav, #content {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: $red;
  height: $top_bar_height;
  ul {
    padding: 0;
    height: $top_bar_height;
    margin-top: 0;
  }
  li {
    float: left;
    font-family: "OstrichSansBlack";
    font-size: 2em;
    margin-left: 1em;
    margin-top: 0.4em;
    a, a:visited {
      color: $off_white;
      opacity: 0.7;
      text-decoration: none;
    }
    &.current a, a:hover {
      opacity: 1.0;
    }
    &.current {
      font-family: "OstrichSansBold";
      font-weight: normal;
      font-size: #{$header_font}em;
      margin-top: 0;
      // Give it the same margin as other list items
      margin-left: #{2/$header_font}em;
      // There is something weird about Ostrich's alignment, adjust the margin
      margin-bottom: -0.2em;

    }
    &.first {
      margin-left: 0;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

a, a:visited {
  color: $blue;
}

#content {
  clear: both;
  font-family: "Aller";
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: $off_white + $off_white_step;
  max-width: 50em - ($content_padding * 2);
  padding: $content_padding;
  margin-bottom: $content_padding;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "AllerDisplay";
    margin: 1.0em 0 0.6em 0;
  }

  p {
    line-height: 1.5em;
  }

  .photo {
    margin: 3em 0;
    img {
      display: block;
      margin: auto;
      border: 10px solid ($off_white + $off_white_step * 3);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
  .photo+.photo {
    margin: 5em 0;
  }
  .about_me .photo {
    margin-top: 0;
  }

  .video {
    a {
      margin-top: 1em;
      display: block;
      background: #000;
      img {
        display: block;
        margin: auto;
      }
    }
  }

  .about_me {
    .name, .nickname, .title, .address, .tech {
      @include standout;
    }
    .name, .nickname, .title {
      font-weight: bold;
    }
  }

  .projects {
    li {
      margin: 1.5em 0;
      a {
        @include standout;
      }
      aside {
        margin-top: 0.5em;
        @include deemphasized;
      }
    }
  }

  .hobbies {
    section {
      h1 {
        display: block;
        font-size: 2em;
      }
    }
  }
}

@import "proudify";
