.proudify {
  ul.list {
    list-style-type: none;
    padding: 0;
  }
  .loading {
    text-align: center;
  }

  &.github {
    @include standout;
    padding: 5px 0;
    border-radius: 5px;

    ul.list {
      margin: 5px;
      li.item {
        box-shadow: rgba(0,0,0,0.25) 0px 2px 3px inset;
        background: $off_white - $off_white_step;
        border-bottom: 1px solid $off_white + 2 * $off_white_step;
        border-radius: 5px;
        margin: 5px;
        $padding: 0.6em;
        padding: $padding;

        $status_width: 5.2em;
        position: relative;
        padding-right: $status_width + $padding;
        .status {
          position: absolute;
          right: $padding;
          top: 0;
          line-height: 1.3em + $padding * 2;
          width: $status_width;
          text-align: right;
        }
        .red {
          color: #650D0D;
        }
        .green {
          color: #487A16;
        }
        .desc {
          margin-left: 5px;
          @include deemphasized;
        }
      }
    }
  }

  &.coderwall {
    li.item {
      float: left;
      margin: 5px;
      a img {
        width: 90px;
        height: 90px;
        border: 0;
        // It takes a bit of trickery to add borders to these images
        border-radius: 45px;
        box-shadow: rgba(0,0,0,0.25) 2px 3px 2px, rgba(0,0,0,0.25) -2px -3px 4px inset;
      }
      a img {
        opacity: 1.0;
      }
      a:hover img {
        opacity: 0.6;
      }
    }
  }
}
