.projects
  %h1 Code
  .intro
    I love code. Here are some projects I've worked on.

  :markdown
    * I came up with [rrrex](https://github.com/iangreenleaf/rrrex),
      a new syntax for expressing regular expressions in Ruby.
      <aside>
        Pronounced "rrrex!".
      </aside>
    * I wrote and maintain [Scisr](http://iangreenleaf.github.com/Scisr/),
      a refactoring tool written in and for PHP.
    * I'm one of the lead developers on [GrinnellPlans](https://code.google.com/p/grinnellplans/)
      (and the [Rails rewrite](https://github.com/annaswims/GrinnellPlans)),
      a homegrown social platform for members of the Grinnell College community.
      <aside>
        And for the record, Plans existed long before Web 2.0.
      </aside>
    * I worked on the [regular expression engine in Vim](https://code.google.com/p/vim-soc-regexp/),
      sponsored by Google Summer of Code.
