%article.recruit
  %section
    %h1 Welcome, recruiters!

    %aside
      Not a recruiter?
      = link_to "Head back to the main site", '/'
      or go ahead and
      = link_to "email me.", "mailto:dev@iangreenleaf.com"

    %p
      I'm glad you're interested in my work!
      My time is very valuable to me, so before you contact me, I want to make sure that your opportunity is something that may work for me.
      At the current time, I am <strong><em>only</em></strong> interested in gigs that are:

      %ul
        %li Contract
        %li Part-time
        %li Remote

    %p
      If your position meets all of those criteria, great!
      Please feel free to get in touch.
      In the message you send me, please include all of the following, preferably in a formatted list so I can easily find the information:

      %ol
        %li
          An acknowledgement that you have read this page and that your gig fits the above criteria.
        %li
          The name of the company and a detailed description of the gig.
          I promise I will still approach the company through you so you don't lose out on a commission.
        %li
          One good reason I should be interested in the project.
          The criteria here is looser, but "an exciting opportunity with a top-tier firm" isn't going to cut it.
          If you're having trouble with this one, try asking someone at the company.

    %p
      Thanks for taking the time to follow these steps!
      Go ahead and
      = link_to "email me", "mailto:dev@iangreenleaf.com"
      with the aforementioned information.
